.main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list-card {
  width: 800px;
  height: auto;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  overflow: hidden;
}

.todo-list-input-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list-input {
  width: 100%;
  height: 40px;
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 0 10px;
  font-size: 16px;
}

.todo-item-list-section input[type='checkbox'] {
  cursor: pointer;
}

.todo-item-list-section .todo-list-ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  max-height: 250px;
  overflow-y: auto;
}

.todo-item-list-section .todo-list-ul li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  border-bottom: 2px solid #eee;
}

.todo-item-list-section .todo-list-ul li.empty {
  justify-content: center;
  color: #888;
}

.todo-item-list-section .todo-list-ul span {
  padding-top: 4px;
  padding-left: 8px;
}

.todo-item-list-section .todo-list-li.checked span {
  text-decoration: line-through;
  color: #888;
}

.todo-list-status-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.todo-list-filter-button,
.todo-list-status-section button {
  border: none;
  border-radius: 4px;
  background-color: white;
  color: black;
  cursor: pointer;
}

.todo-list-filter-button.active,
.todo-list-status-section button.active {
  border: 1px solid red;
}

.todo-list-filter-button:hover,
.todo-list-status-section button:hover {
  background-color: #f0f0f0;
}
